.saude {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #e0d6d6;
}

.saude .texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.saude .texto h1 {
    font-size: 30px;
    margin-bottom: 15px;

}

.saude .texto p {
    font-size: 20px;
    margin: 20px auto;
}

.image img {

    width: 100%;
    height: 70vh;
}
@media (max-width:715px) {
    .saude {
        display: grid;
        grid-template-columns: 1fr;
   
    }
    .image img {

        width: 100%;
        height: 40vh;
    }
}